@import "tailwindcss";

@theme {
  --color-primary-color: #7A871E;
  --color-secondary-color: #E55B13;
  --color-tertiary-color: #F6A21E;
  --color-contrast: #05445E;
  --color-darkgray: #868B8E;
  --color-lightgray: #EEEDE7;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
